<a href="https://colab.research.google.com/github/Anphago/Python_bible_for_datascientist/blob/main/DAY1_Variables_assignment_%26_Display.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day1 변수 선언과 정보 출력

## 변수 할당과 데이터 유형 알아보기

> * 변수란, 무언가의 정보(데이터)를 담기위한 하나의 그릇과 같음
> * 변수명이란, 정보가 담긴 그릇에 이름을 붙여주는 것임
> * 변수에는 정보가 있을 수 있고, 없을 수 있음
> * 변수에 정보 할당은 "*=*"를 사용 함

In [ ]:
# No1. 변수에 숫자 정보를 할당 해 보기

x = 123  # x라 불리는 변수에 123의 숫자 정보를 할당

In [ ]:
print(x)  # x변수에 담긴 정보를 확인해 보기

123

## 변수를 선언하는 다양한 방법

In [ ]:
# No2. 한개의 변수의 정보를 변경하기

code_name = "Hello World, Python"
code_name = "Anphago"  # "Hello World, Python"의 정보를 버리고 "Anphgo" 정보를 넣음

print("code_name 변수에 저장된 정보는 %s 입니다." %code_name)

code_name 변수에 저장된 정보는 Anphago 입니다.

In [ ]:
# No3. 한 줄에 여러개 변수를 선언 후 선언된 변수 수 만큼 정보 할당하기

stud_Name, stud_Number, stud_Maile = "Anphago", 2018521506, "admin@andar.ac.kr"

print("Y 대학교 학생 이름은 %s 입니다. \n" %stud_Name)
print("Y 대학교 학생 이름은 %d 입니다. \n" %stud_Number)
print("Y 대학교 학생 이름은 %s 입니다. \n" %stud_Maile)

Y 대학교 학생 이름은 Anphago 입니다.

Y 대학교 학생 이름은 2018521506 입니다.

Y 대학교 학생 이름은 admin@andar.ac.kr 입니다.

In [ ]:
# No4. 변수에 변수를 할당하여 동일한 정보 공유하기

apply_number = 202157892

regist_number = apply_number

print('apply_number is %d' %apply_number)
print('regist_number is %d' %regist_number)

apply_number is 202157892
regist_number is 202157892

In [ ]:
# No5. 변수 삭제

andar_data = "It's pleasure to learn the python"


del andar_data  # del로 변수 삭제하기

In [ ]:
# No6. 파이썬 기본 데이터(정수, 실수, 문자, 논리, 바이트) 정보를 변수에 할당

str_data = "Python"   # 문자열(String)
int_data = 1      # 숫자, 정수
float_data = 1.1  # 숫자, 부동소숫점
bool_data = True  # 특별한 타입: True / False (Boolean)
byte_data = b'Hello Python'

## type() 함수로 변수의 유형 체크
print("Data type of str_data is %s" %type(str_data))
print("Data type of int_data is %s" %type(int_data))
print("Data type of float_data is %s" %type(float_data))
print("Data type of bool_data is %s" %type(bool_data))
print("Data type of byte_data is %s" %type(byte_data))

Data type of str_data is <class 'str'>
Data type of int_data is <class 'int'>
Data type of float_data is <class 'float'>
Data type of bool_data is <class 'bool'>
Data type of byte_data is <class 'bytes'>

In [ ]:
# No7. 사칙연산을 변수에 할당

PI = 3.14
radius = 10

diameter = radius * 2

print("diameter is %d" %diameter)
print("circumference is", radius * 2 * PI)
print("area is", PI * (radius ** 2))

diameter is 20
circumference is 62.800000000000004
area is 314.0

## Dispaly: using *print*

> print(.....)
*   print(value, ...., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.

    Optional keyword arguments:

    file:  a file-like object (stream); defaults to the current sys.stdout.

    sep:   string inserted between values, default a space.

    end:   string appended after the last value, default a newline.

    flush: whether to forcibly flush the stream.

In [ ]:
# No9. Print 기본기

scription_data = "Learn Python from Andar"

print("Learn Python from Anda")   # 표현할 내용 출력
print(scription_data) # 변수의 정보를 출력
print("Please, %s" %scription_data)  # 표현할 내용에 변수 정보를 함께 출력

Learn Python from Anda
Learn Python from Andar
Please, Learn Python from Andar

> Formatting Basic 1

    % + 서식문자
    %d: 정수 정보를 할당
    %f: 실수 정보를 할당
    %s: 문자 정보를 할당

In [ ]:
# No8. 

print("학생의 이름은", student_Name, "입니다.")
print("학생의 이름은 %s 입니다." %student_Name)
print("학생의 이름은 {0} 입니다.".format(student_Name)) 

print("학생의 이름은 %s이고, 학번은 %d이며, 생년월일은 %s 입니다." %(student_Name, student_Number, student_Birthday))
print("학생의 이름은 {0}이고, 학번은 {1}이며, 생년월일은 {2} 입니다.".format(student_Name, student_Number, student_Birthday))

print(student_Birthday, sep='.')
print(student_Birthday, end = '')
print(student_Name)

In [ ]:

precesion_Recall = 89.762777177277

print("데이터 분석 결과의 재현율은 %0.5f%% 입니다." %precesion_Recall)
print("데이터 분석 결과의 재현율은 %2.0f%% 입니다." %precesion_Recall)
print("데이터 분석 결과의 재현율은 %-30.0f%% 입니다." %precesion_Recall)
print("데이터 분석 결과의 재현율은 %30.0f%% 입니다." %precesion_Recall)
print("데이터 분석 결과의 재현율은 %30.5f%% 입니다." %precesion_Recall)

데이터 분석 결과의 재현율은 89.76278% 입니다.
데이터 분석 결과의 재현율은 90% 입니다.
데이터 분석 결과의 재현율은 90                            % 입니다.
데이터 분석 결과의 재현율은                             90% 입니다.
데이터 분석 결과의 재현율은                       89.76278% 입니다.